RewriteEngine On

# Se o arquivo ou diretório não existir fisicamente...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# E se existir um arquivo .php com esse nome...
RewriteCond %{REQUEST_FILENAME}.php -f

# Então direcione internamente para o arquivo .php
RewriteRule ^(.*)$ $1.php [L]
